# Python
__pycache__/
*.pyc
*.pyo
*.pyd
config.py
*.csv

*.joblib
*.pkl
*.pickle
*.bak

pending-features/

# Virtual environment
venv/
.env/

# Flask cache
instance/
*.db
*.sqlite3

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

*.joblib