<!-- load plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="container my-5">
    <h3 class="text-white">Dashboard</h3>
    <div class="chart my-4" id="chart1">{{ chart1|safe }}</div>
    <div class="chart my-4" id="chart2">{{ chart2|safe }}</div>
    <div class="chart my-4" id="chart3">{{ chart3|safe }}</div>
    <div class="chart my-4" id="chart4">{{ chart4|safe }}</div>
    <div class="chart my-4" id="chart5">{{ chart5|safe }}</div>
    <div class="chart my-4" id="chart6">{{ chart6|safe }}</div>
</div>